*{
    margin: 0;
    padding: 0;
    
    
}

body { 
    background:#505050;
    font-size: 14px;

}



.contact-box {
    background: #fff;
    display: flex
        
    
    
}

$('input.autocomplete').autocomplete({
      data: {
        "Apple": null,
        "Microsoft": null,
        "Google": 'https://placehold.it/250x250'
      },
    });